.archibald-curriculum-ui {
  overflow: auto;
  background: white;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.archibald-curriculum-ui hr {
  margin: 10px 0;
}
.archibald-row {
  overflow: hidden;
}
.archibald-column {
  width: 300px;
  height: 300px;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}
.archibald-column + .archibald-column {
  border-left: 1px solid #ccc;
}
.archibald-column--collapsed {
  width: 0 !important;
  border-left: 0 !important;
}
.archibald-column__button {
  width: 50%;
  float: left;
  display: block;
  opacity: 0;
  padding: 5px 10px;
  background: #fff;
  font-size: 14px;
  overflow: hidden;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.archibald-column--collapsed .archibald-column__button {
  opacity: 0;
}
.archibald-column--collapsed + .archibald-column .archibald-column__button {
  opacity: 1;
  cursor: pointer;
}
.archibald-column__button:hover {
  background: #eee;
}
.archibald-column__wrapper {
  width: 300px; /* Careful! Same value as for parent .archibald-column! */
}
.archibald-column--collapsed + .archibald-column .archibald-column__wrapper.nano.has-scrollbar {
  height: 90%; /* Override nanoScroller height so we can see the Back button. */
}
.archibald-column__wrapper__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.archibald-column__wrapper__list__item {
  position: relative;
  padding: 10px 40px 10px 30px;
}
.archibald-column__wrapper__list__item:hover {
  background-color: #eee;
}
.archibald-column__wrapper__list__item--has-children {
  cursor: pointer;
}
.archibald-column__wrapper__list__item--has-children:hover {
  background-color: #aaa;
  color: white;
}
.archibald-column__wrapper__list__item--active {
  background-color: #ccc;
}
.archibald-column__wrapper__list__item--level-2 {
  padding-left: 60px;
}
.archibald-column__wrapper__list__item--level-3 {
  padding-left: 90px;
}
.archibald-column__wrapper__list__item--is-group {
  border-bottom: 2px solid #555;
}
.archibald-column__wrapper__list__item--is-not-selectable-group {
  font-size: 1.1em;
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--is-not-selectable-group input {
  display: none !important;
}
@keyframes archibald-column__wrapper__list__item--highlighted {
  0%, 100% {
    background-color: #F0F567;
  }
  50% {
    background-color: #ccc;
  }
}
.archibald-column__wrapper__list__item--highlighted {
  animation-name: archibald-column__wrapper__list__item--highlighted;
  animation-duration: 400ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  background-color: #F0F567;
}
.archibald-column__wrapper__list__item--expanded {
  background-color: #888 !important;
  color: white;
}
.archibald-column:nth-last-child(2) .archibald-column__wrapper__list__item--expanded {
  background-color: #777 !important;
}
.archibald-column__wrapper__list__item input[type="checkbox"] {
  display: inline-block;
  margin-left: -18px;
}
.archibald-column__wrapper__list__item--has-children {
  position: relative;
}
.archibald-column__wrapper__list__item--has-children .icon-chevron-right {
  position: absolute;
  right: 10px;
  top: 14px;
}
.archibald-curriculum-ui__summary-wrapper {
  position: relative;
  border-top: 5px solid gray;
  min-height: 30px;
  width: 100%;
}
.archibald-curriculum-ui-summary__cycles {
  display: none;
  margin-bottom: 1em;
}
.lp21 .archibald-curriculum-ui-summary__cycles {
  display: table;
  width: 100%;
}
.archibald-curriculum-ui-summary__cycles__label {
  display: none;
}
.archibald-curriculum-ui-summary__cycles__cycle {
  display: none;
  height: .5em;
  text-indent: -9999px;
  overflow: hidden;
  color: white;
}
.has-cycle-1 .archibald-curriculum-ui-summary__cycles__cycle--cycle-1,
.has-cycle-1 .archibald-curriculum-ui-summary__cycles__label,
.has-cycle-2 .archibald-curriculum-ui-summary__cycles__cycle--cycle-2,
.has-cycle-2 .archibald-curriculum-ui-summary__cycles__label,
.has-cycle-3 .archibald-curriculum-ui-summary__cycles__cycle--cycle-3,
.has-cycle-3 .archibald-curriculum-ui-summary__cycles__label {
  display: table-cell;
}
.archibald-curriculum-ui-summary__list {
  padding-left: 0;
  list-style: none;
  max-width: 90%;
}
.archibald-curriculum-ui-summary__list .archibald-curriculum-ui-summary__list {
  padding-left: 2em;
  max-width: 100%;
}
.archibald-curriculum-ui-summary__list__item {
  position: relative;
}
.archibald-curriculum-ui-summary__list__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: -2em;
  border-left: 1px dashed #CCC;
}
.archibald-curriculum-ui-summary__list__item:last-child::before {
  bottom: auto;
  top: 0;
  height: 1em;
}
.archibald-curriculum-ui-summary__list__item::after {
  content: "";
  position: absolute;
  width: 2em;
  top: 1em;
  left: -2em;
  border-top: 1px dashed #CCC;
}
.archibald-curriculum-ui-summary__list__item span {
  position: relative;
  display: block;
  padding: .5em 3em .5em 2em;
  border-left: 4px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: .8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-height: 2.5em;
}
.archibald-curriculum-ui-summary__list__item.hover span {
  background: #eee;
}
.archibald-curriculum-ui-summary__list__item.hover > span {
  transform-origin: 10% 50%;
  transform: scale(1.2);
  transition: transform .05s ease-in-out;
  font-weight: bold;
  z-index: 900;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #ddd;
  white-space: normal;
  max-height: none;
}
.archibald-curriculum-ui-summary__list__item.child-hovered > span {
  background: #ddd;
}
.archibald-curriculum-ui__row {
  overflow: hidden;
}

.archibald-curriculum-ui__item-info-wrapper {
  float: right;
}

/**
 * Item info element.
 */
.archibald-curriculum-ui-item-info {
  height: 300px; /* Warning! Same as .archibald-column! */
  position: relative;
  width: 30px; /* Warning! This is also referenced in JS! */
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -ms-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}
.archibald-curriculum-ui-item-info--expanded {
  width: 300px; /* Warning! This is also referenced in JS! */
}
.archibald-curriculum-ui-item-info h4 {
  height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.archibald-curriculum-ui-item-info__label {
  transform: rotate(-90deg);
  transform-origin: left top 0px;
  position: absolute;
  bottom: -2.4em;
  width: 300px; /* Warning! Same as .archibald-column width! */
  text-align: center;
  background-color: #eee;
  font-size: 1.2em;
  line-height: 1.8;
}
.archibald-curriculum-ui-item-info__label:hover {
  cursor: pointer;
  background-color: #ddd;
}
.archibald-curriculum-ui-item-info__content {
  margin-left: 40px;
}
.archibald-curriculum-ui-item-info__content.nano.has-scrollbar {
  width: auto !important;
}
.archibald-curriculum-ui-item-info__content__empty {
  font-style: italic;
  color: #ddd;
  font-size: 1.2em;
  padding-top: 3em;
  display: block;
  text-align: center;
}
.archibald-curriculum-ui-item-info__type__label,
.archibald-curriculum-ui-item-info__type__description__label {
  font-weight: bold;
}
.archibald-cycle-selection {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  overflow: hidden;
}
.lp21 .archibald-cycle-selection/*,
.per .archibald-cycle-selection */ {
  display: block;
}
.archibald-cycle-selection__warning {
  display: none;
  font-style: italic;
  font-size: .9em;
}
.archibald-cycle-selection--has-implicit .archibald-cycle-selection__warning {
  display: block;
}
.archibald-cycle-selection__warning .is {
  display: inline;
}
.archibald-cycle-selection__warning .are {
  display: none;
}
.archibald-cycle-selection__warning .selected + .selected ~ .is {
  display: none;
}
.archibald-cycle-selection__warning .selected + .selected ~ .are {
  display: inline;
}
.archibald-cycle-selection__wrapper {

}
.archibald-cycle-selection__filter {
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  border-style: dashed;
  border-color: #ccc;
  border-width: 1px;
  cursor: pointer;
}
.archibald-cycle-selection__filter:hover {
  background-color: #ddd;
}
.archibald-cycle-selection__filter + .archibald-cycle-selection__filter {
  margin-left: 1em;
}

/**
 * PER specific styles.
 */
.archibald-per-school-year-selection {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  overflow: hidden;
}
.per .archibald-per-school-year-selection {
  display: block;
}
.archibald-per-school-year-selection__filter {
  position: relative;
  margin-left: 10px;
  padding: 5px 10px;
  border-style: dashed;
  border-color: #ccc;
  border-width: 1px;
  cursor: pointer;
}
.archibald-per-school-year-selection__filter:hover {
  background-color: #ddd;
}
.archibald-per-school-year-selection__filter + .archibald-per-school-year-selection__filter {
  margin-left: 1em;
}

/**
 * Lehrplan 21 specific styles.
 * lp21 requires a color code, which we represent on the left side of an item
 * using borders.
 */
.lp21 .archibald-cycle-selection__filter {
  border-width: 1px 1px 1px 0;
}
.lp21 .archibald-cycle-selection__filter::before,
.lp21 .archibald-curriculum-ui-summary__cycles__cycle::before {
  content: '';
  position: absolute;
  left: -10px;
  top: -1px;
  bottom: -1px;
  border-left: 10px solid gray;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-1,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-2,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-3 {
  border-left: 12px solid gray;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-12,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-13,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-23 {
  border-left: 6px solid gray;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123 {
  border-left: 4px solid gray;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-12::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-13::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-23::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::after/*,
.lp21 .archibald-curriculum-ui-summary__list__item span::before,
.lp21 .archibald-curriculum-ui-summary__list__item span::after*/ {
  content: '';
  border-left: 6px solid gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::after/*,
.lp21 .archibald-curriculum-ui-summary__list__item span::after*/ {
  border-left-width: 4px;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::after {
  left: 4px;
}
/* Let's coloooor!!! */
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::after,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-13::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-12::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-1 {
  border-left-color: #E39B2D;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-23::before,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-2 {
  border-left-color: #2F8FCE;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-3 {
  border-left-color: #97C941;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-12 {
  border-left-color: #2F8FCE;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-13,
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-23 {
  border-left-color: #97C941;
}
.lp21 .archibald-column__wrapper__list__item--type-kompetenzstufe.has-cycles-123 {
  border-left-color:  #97C941;
}
.lp21 .archibald-curriculum-ui-summary__cycles__cycle--cycle-1 {
  background-color: #E39B2D;
}
.lp21 .archibald-curriculum-ui-summary__cycles__cycle--cycle-2 {
  background-color: #2F8FCE;
}
.lp21 .archibald-curriculum-ui-summary__cycles__cycle--cycle-3 {
  background-color: #97C941;
}
/* For the left border, 3 takes precedence, so is last. */
/*
.lp21 .archibald-column__wrapper__list__item.has-cycle-1,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-1 > span {
  border-left-color: #E39B2D;
}
.lp21 .archibald-column__wrapper__list__item.has-cycle-2,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-2 > span {
  border-left-color: #2F8FCE;
}
.lp21 .archibald-column__wrapper__list__item.has-cycle-3,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-3 > span {
  border-left-color: #97C941;
}
*/
/* For the middle border, 2 takes precedence, so is last. */
.lp21 .archibald-cycle-selection__filter--cycle-3::before/*,
.lp21 .archibald-column__wrapper__list__item.has-cycle-3::before,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-3 > span::before*/ {
  border-left-color: #97C941;
}
.lp21 .archibald-cycle-selection__filter--cycle-1::before/*,
.lp21 .archibald-column__wrapper__list__item.has-cycle-1::before,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-1 > span::before*/ {
  border-left-color: #E39B2D;
}
.lp21 .archibald-cycle-selection__filter--cycle-2::before/*,
.lp21 .archibald-column__wrapper__list__item.has-cycle-2::before,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-2 > span::before*/ {
  border-left-color: #2F8FCE;
}
/* For the right border, 3 takes precedence, so is last. */
/*
.lp21 .archibald-column__wrapper__list__item.has-cycle-3::after,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-3 > span::after {
  border-left-color: #97C941;
}
.lp21 .archibald-column__wrapper__list__item.has-cycle-2::after,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-2 > span::after {
  border-left-color: #2F8FCE;
}
.lp21 .archibald-column__wrapper__list__item.has-cycle-1::after,
.lp21 .archibald-curriculum-ui-summary__list__item.has-cycle-1 > span::after {
  border-left-color: #E39B2D;
}
*/

/**
 * Icon classes.
 */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 25px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 25px 25px;
  background-repeat: no-repeat;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-chevron-left {
  width: 10px;
  background-position: -434px -72px;
}
.icon-plus {
  background-position: -407px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-fullscreen {
  width: 14px;
  height: 14px;
  background-position: -360px -96px;
}
.icon-not-fullscreen {
  width: 14px;
  height: 14px;
  background-position: -385px -96px;
}
