.opts {
  margin: .5em 0;
}
.confirm-opt-out {
  float: right;
  font-size: .9em;
  margin-top: 2em;
}
.confirm-opt-out label {
  font-weight: normal;
}
.full-screen {
  padding: 3px;
  display: none;
  cursor: pointer;
  float: right;
  font-size: .9em;
  margin-top: 2.1em;
  margin-right: 2em;
}
.has-fullscreen .full-screen {
  display: inline-block;
}
.full-screen:hover {
  background-color: #eee;
}
.search {
  float: right;
  cursor: pointer;
  font-size: .9em;
  margin-top: 2.1em;
  margin-right: 2em;
  padding: 3px;
}
.search:hover {
  background-color: #eee;
}
.archibald-curriculum-ui__summary-wrapper--collapsed {
  height: 3.5em;
}
.archibald-curriculum-ui__summary-wrapper--collapsed .archibald-curriculum-ui__summary-wrapper__label {
  margin: 0.5em;
}
.archibald-curriculum-ui-summary__list__item--isGroup {
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--isGroup {
  border-bottom: 2px solid #555;
  font-size: 1.1em;
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--level-2 {
  padding-left: 60px;
}
.archibald-column__wrapper__list__item--level-3 {
  padding-left: 90px;
}
.archibald-column__wrapper__list__item--level-4 {
  padding-left: 120px;
}
.archibald-column__wrapper__list__item--title {
  cursor: pointer;
}
.archibald-column__wrapper__list__item__per-selection {
  margin-top: 1em;
  font-size: .9em;
  font-style: italic;
}
.archibald-per-table {
  border-collapse: collapse;
  table-layout: fixed;
}
.archibald-per-table__cell {
  vertical-align: top;
  padding: 10px;
  border: 1px solid #bbb;
  background: white;
}
.archibald-per-table__cell--title {
  font-weight: bold;
}
.archibald-per-table__cell--level-1 {
  background: #fb0;
  color: white;
  font-size: 1.3em;
}
.archibald-per-table__cell--level-2 {
  font-size: 1.1em;
  background: #fbf5d6;
}
.archibald-per-table__cell--active {
  background: #ddd;
}
.archibald-per-table__cell--empty {
  background: transparent;
  border-style: dashed;
}
.archibald-per-table__cell--progression,
.archibald-per-table__cell--empty {
  /*display: none;*/
}
.archibald-per-filter--1-2 .archibald-per-table__cell[data-per-school-years~="1-2"],
.archibald-per-filter--3-4 .archibald-per-table__cell[data-per-school-years~="3-4"],
.archibald-per-filter--5-6 .archibald-per-table__cell[data-per-school-years~="5-6"],
.archibald-per-filter--7-8 .archibald-per-table__cell[data-per-school-years~="7-8"],
.archibald-per-filter--9 .archibald-per-table__cell[data-per-school-years~="9"],
.archibald-per-filter--10 .archibald-per-table__cell[data-per-school-years~="10"],
.archibald-per-filter--11 .archibald-per-table__cell[data-per-school-years~="11"] {
  display: table-cell;
}
.archibald-per-table__cell--progression label {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
}
.archibald-per-table__cell--progression input {
  float: left;
  margin-right: 1em;
}
.archibald-per-filter strong {
  font-size: 1.1em;
  margin-right: 1em;
}
.archibald-per-filter__filter {
  margin-bottom: 2em;
  margin-right: 1em;
}
.select-school-years {
  margin-top: 10px;
  padding: 10px;
  background: #eee;
  overflow: hidden;
}
.select-school-years h4 {
  display: inline-block;
  font-size: 1.1em;
  margin-right: .5em;
}
.select-school-years label {
  margin-right: .5em;
}
.select-school-years--message {
  font-size: .9em;
  font-style: italic;
}
.summary-school-years {
  background: #fbf5d6;
  padding: 0 .5em;
  margin: .5em 0;
}
.summary-school-years h4 {
  display: inline-block;
  font-size: 1.1em;
  margin-right: .5em;
}
.summary-school-years__school-year {
  font-weight: bold;
}
.archibald-column__wrapper__list__item--objective .icon-chevron-right {
  display: none;
}
