.opts {
  margin: .5em 0;
}
.confirm-opt-out {
  float: right;
  font-size: .9em;
  margin-top: 2em;
}
.confirm-opt-out label {
  font-weight: normal;
}
.full-screen {
  padding: 3px;
  display: none;
  cursor: pointer;
  float: right;
  font-size: .9em;
  margin-top: 2.1em;
  margin-right: 2em;
}
.has-fullscreen .full-screen {
  display: inline-block;
}
.full-screen:hover {
  background-color: #eee;
}
.archibald-curriculum-ui__summary-wrapper--collapsed {
  height: 3.5em;
}
.archibald-curriculum-ui__summary-wrapper--collapsed .archibald-curriculum-ui__summary-wrapper__label {
  margin: 0.5em;
}
.archibald-column__wrapper__list__item--is_group {
  border-bottom: 2px solid #555;
  font-size: 1.1em;
  font-weight: bold;
  background: #eee;
}
.archibald-column__wrapper__list__item--level-2 {
  padding-left: 60px;
}
.archibald-column__wrapper__list__item--level-3 {
  padding-left: 90px;
}